{% load static %}
<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Gerenciamento</div>

  <!-- Products -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProdutos"
      aria-expanded="true" aria-controls="collapseProdutos">
      <i class="fas fa-fw fa-box"></i>
      <span>Produtos</span>
    </a>
    <div id="collapseProdutos" class="collapse" aria-labelledby="headingProdutos" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="#">Listar</a>
        <a class="collapse-item" href="#">Novo Produto</a>
      </div>
    </div>
  </li>

  <!-- Suppliers -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'supplier_list' %}">
      <i class="fas fa-fw fa-truck"></i>
      <span>Fornecedores</span>
    </a>
  </li>

  <!-- Brands -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'brand_list' %}">
      <i class="fas fa-fw fa-tags"></i>
      <span>Marcas</span>
    </a>
  </li>

  <!-- Categories -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'category_list' %}">
      <i class="fas fa-fw fa-th-large"></i>
      <span>Categorias</span>
    </a>
  </li>

  <!-- Inflows -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-arrow-down"></i>
      <span>Entradas</span>
    </a>
  </li>

  <!-- Outflows -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-arrow-up"></i>
      <span>Saídas</span>
    </a>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline mt-auto mb-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
