{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">{{ request.user.username }}</div>
  </a>

  <hr class="sidebar-divider my-2" />

  <!-- Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Painel Principal</span>
    </a>
  </li>

  {% if request.user.is_superuser %}
  <hr class="sidebar-divider mt-4 mb-2" />
  <div class="sidebar-heading text-uppercase">Gestão do Sistema</div>

  <!-- Usuários -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false"
      aria-controls="collapseUsers">
      <i class="fas fa-users-cog"></i>
      <span>Gerenciar Usuários</span>
    </a>
    <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Ações disponíveis:</h6>
        <a class="collapse-item" href="{% url 'users_create' %}">Criar Usuário</a>
        <a class="collapse-item" href="{% url 'users_list' %}">Listar Usuários</a>
      </div>
    </div>
  </li>
  {% endif %}

  <!-- Estoque -->
  <hr class="sidebar-divider mt-4 mb-2" />
  <div class="sidebar-heading text-uppercase">Estoque</div>

  {% if perms.products.view_product %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'product_list' %}">
      <i class="fas fa-box-open"></i>
      <span>Produtos</span>
    </a>
  </li>
  {% endif %}

  {% if perms.brands.view_brand %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'brand_list' %}">
      <i class="fas fa-tags"></i>
      <span>Marcas</span>
    </a>
  </li>
  {% endif %}

  {% if perms.categories.view_category %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'category_list' %}">
      <i class="fas fa-th-large"></i>
      <span>Categorias</span>
    </a>
  </li>
  {% endif %}

  <!-- Movimentações -->
  <hr class="sidebar-divider mt-4 mb-2" />
  <div class="sidebar-heading text-uppercase">Movimentações</div>

  {% if perms.inflows.view_inflow %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'inflow_list' %}">
      <i class="fas fa-arrow-circle-down"></i>
      <span>Entradas</span>
    </a>
  </li>
  {% endif %}

  {% if perms.outflows.view_outflow %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'outflow_list' %}">
      <i class="fas fa-arrow-circle-up"></i>
      <span>Saídas</span>
    </a>
  </li>
  {% endif %}

  <!-- Parceiros -->
  <hr class="sidebar-divider mt-4 mb-2" />
  <div class="sidebar-heading text-uppercase">Parceiros</div>

  {% if perms.suppliers.view_supplier %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'supplier_list' %}">
      <i class="fas fa-truck"></i>
      <span>Fornecedores</span>
    </a>
  </li>
  {% endif %}

  <!-- Relatórios -->
  <hr class="sidebar-divider mt-4 mb-2" />
  <div class="sidebar-heading text-uppercase">Relatórios Gerenciais</div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report_exports' %}">
      <i class="fas fa-file-alt"></i>
      <span>Relatórios</span>
    </a>
  </li>

  <!-- Toggler -->
  <div class="text-center d-none d-md-inline mt-auto mb-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->