{% load static %}
<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">{{ request.user.username }}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Users -->
  {% if request.user.is_superuser %}
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <div class="sidebar-heading">Administração</div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
        aria-expanded="true" aria-controls="collapseUsers">
        <i class="fas fa-fw fa-box"></i>
        <span>Usuários</span>
      </a>
      <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Utilitários:</h6>
          <a class="collapse-item" href="{% url 'users_list' %}">Listar</a>
          <a class="collapse-item" href="#">#</a>
        </div>
      </div>
    </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Gestão de Recursos</div>

  <!-- Products -->
  {% if perms.products.view_product %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'product_list' %}">
        <i class="fas fa-fw fa-truck"></i>
        <span>Produtos</span>
      </a>
    </li>
  {% endif %}

  <!-- Suppliers -->
  {% if perms.suppliers.view_supplier %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'supplier_list' %}">
        <i class="fas fa-fw fa-truck"></i>
        <span>Fornecedores</span>
      </a>
    </li>
  {% endif %}

  <!-- Brands -->
  {% if perms.brands.view_brand %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'brand_list' %}">
        <i class="fas fa-fw fa-tags"></i>
        <span>Marcas</span>
      </a>
    </li>
  {% endif %}

  <!-- Categories -->
  {% if perms.categories.view_category %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'category_list' %}">
        <i class="fas fa-fw fa-th-large"></i>
        <span>Categorias</span>
      </a>
    </li>
  {% endif %}

  <!-- Inflows -->
  {% if perms.inflows.view_inflow %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'inflow_list' %}">
        <i class="fas fa-fw fa-arrow-down"></i>
        <span>Entradas</span>
      </a>
    </li>
  {% endif %}

  <!-- Outflows -->
  {% if perms.outflows.view_outflow %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'outflow_list' %}">
        <i class="fas fa-fw fa-arrow-up"></i>
        <span>Saídas</span>
      </a>
    </li>
  {% endif %}

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline mt-auto mb-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
