{% extends 'base.html' %}

{% block title %}
  SGE - Cadastrar Usuário
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Cadastrar Usuário</h1>
  <p class="mb-4">
    Preencha os campos abaixo para cadastrar um novo usuário no sistema.
  </p>

  <div class="card shadow mb-4">
    <div class="card-body">
      <form method="post" action="{% url 'users_create' %}">
        {% csrf_token %}
        
        {{ form.as_p }}
  
        <button type="submit" class="btn btn-sm btn-primary btn-icon-split shadow-sm">
          <span class="icon text-white-50">
            <i class="fas fa-save mr-1"></i>
          </span>
          <span class="text">Cadastrar</span>
        </button>

        <a href="{% url 'users_list' %}" class="btn btn-sm btn-secondary btn-icon-split shadow-sm">
          <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="text">Voltar</span>
        </a>

      </form>
    </div>
  </div>
</div>
{% endblock %}