{% extends 'base.html' %}

{% block title %} 
  SGE - Produto 
{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Detalhes de Produto</h1>
  <p class="mb-4">Visualize abaixo os dados do produto cadastrado.</p>

  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="mb-4"><strong>Produto:</strong> {{ product.title }}</h4>

      <table class="table table-borderless table-sm" style="max-width: 800px">
        <tbody>
          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              ID
            </th>
            <td>{{ product.id }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Nome
            </th>
            <td>{{ product.title }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Categoria
            </th>
            <td>{{ product.category }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Marca
            </th>
            <td>{{ product.brand }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Código Interno
            </th>
            <td>{{ product.internal_code }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Número de Série
            </th>
            <td>
              {% if not product.serie_number %}
              <span class="text-muted font-italic">Não informado</span>
              {% else %} {{ product.serie_number }} {% endif %}
            </td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Preço de Custo
            </th>
            <td>R$ {{ product.cost_price }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Preço de Venda
            </th>
            <td>R$ {{ product.selling_price }}</td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Estoque
            </th>
            <td>
              {% if not product.quantity %}
              <span class="text-muted font-italic">Sem estoque</span>
              {% else %} {{ product.quantity }} unidades {% endif %}
            </td>
          </tr>

          <tr>
            <th class="text-left font-weight-bold" style="white-space: nowrap">
              Observações
            </th>
            <td>
              {% if product.description %} {{ product.description }} {% else %}
              <span class="text-muted font-italic">Sem observações</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <a href="{% url 'product_list' %}" class="btn btn-sm btn-secondary mt-3">
        <i class="fas fa-arrow-left"></i> Voltar
      </a>
    </div>
  </div>
</div>
{% endblock %}
