{% extends 'base.html' %} 

{% block title %} 
  SGE - Marcas 
{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Editar Marca</h1>
  <p class="mb-4">Altere os campos abaixo para atualizar a marca selecionada.</p>

  <div class="card shadow mb-4">
    <div class="card-body">
      <form method="POST" action="{% url 'brand_update' brand.pk %}">
        {% csrf_token %}
        
        <div class="form-group">
          {{ form.name.label_tag }}
          {{ form.name }}
        </div>

        <div class="form-group">
          {{ form.website.label_tag }}
          {{ form.website }}
        </div>

        <div class="form-group">
          {{ form.description.label_tag }}
          {{ form.description }}
        </div>

        <button type="submit" class="btn btn-sm btn-warning btn-icon-split shadow-sm">
          <span class="icon text-white-50">
            <i class="fas fa-edit mr-1"></i>
          </span>
          <span class="text">Atualizar</span>
        </button>

        <a href="{% url 'brand_list' %}" class="btn btn-sm btn-secondary btn-icon-split shadow-sm">
          <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="text">Voltar</span>
        </a>
      </form>
    </div>
</div>
{% endblock %}
