{% extends 'base.html' %} 

{% block title %} 
  SGE - Marcas 
{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Marcas</h1>
  <p class="mb-4">Gerencie as marcas cadastradas e mantenha o catálogo sempre atualizado.</p>

  <div class="card shadow mb-4">

    <div class="card-header py-3">
      <div class="d-flex justify-content-end">
        <form
          class="form-inline ml-auto"
          action="{% url 'brand_list' %}" 
          method="GET"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control border small"
              placeholder="Pesquisar..."
              name="name"
              value="{{ request.GET.name }}"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            {% for brand in brands %}
            <tr>
              <td>{{ brand.id }}</td>
              <td>{{ brand.name }}</td>
              <td>{{ brand.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
